<style>
        h1 {
            color: green;
            font-size: 2em; 
            text-align: center;
        }

        body {
            background-color: rgb(255, 400, 200);
            font-size: 20px;
        }

        #amarelo {
            color: yellow;

        }

        #vermelho {
            color: red;

        }

        #marrom {
            color: maroon;

        }

        p {
            color: grey;
            font-family: monospace;
            text-align: center;

        }

        .list-style {
            background-color: grey;
            font-weight: bold;
            font-style: italic;
            line-height: 40px;
            text-align: center;
            text-decoration: underline;

        }
    </style>